/* robin attribute */
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body{
  font-family: 'Abril Fatface', serif;
 
}

header {
  
  
}

nav {

}

h1, h2, h3, h4, h5, h6 {

}

a{
  
}

a:hover {
  
}

main {
  margin: 0 auto;
}

footer {
  
}

img {
  
}

#section-one {
  
}

#section-two {
  
}

#section-three {
  
}

#section-four {
  
}